.item-box{
    width: 20vw;
    height: 28vw;
    margin: 2vw;
    border: 2px solid #e8ebe8;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}


.All-items-display{
    padding: 7vw 5vw;
    width: 82.5vw;
    min-height: 100vh;
    background-color: white;  
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
  }

  /* .Display-Grid */